/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:100,200,300,300i,400,600,700|Roboto:100,300i,400|Lato:100,200,300,300i,400,600,700|Playfair+Display:100,200,300i,400,600,700');
$base-font: "Roboto", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$purple: #572848;
$blue: #5D5EB7;
$yellow: #C2A83D;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$red: red;
