/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 #particles-js {
   position: absolute;
   top:0;
   right:0;
   left: 0;
   height: 100vh;
   z-index:0;
 }

 .color-off-black {
   color: #232323;
 }

 #color-off-black-id {
   color: #232323 !important;
 }

 .body-text {
   font-weight: 300;
  //  font-size: 1.5em;
 }

.icon-sizing {
  height: 300px;
  margin: 20px 0px 40px;
}

#three-info-background {
  // background-attachment: fixed;
  padding-top: 20vh;
  border-top: 1px solid #E6E6E6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-center {
  text-align: center;
}

.width-auto {
  width: auto;
}

// .background-grey {
//   background: #f5f5f5;
// }

// .custom-bkg-grey {
//   background-color: #FDFDFD;
// }

.box-shadow-custom {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.align-btn-right {
  position: absolute;
  bottom: 5px;
  right: 80px;
}

.posit-relative {
  position: relative;
}

.text-align-right {
  text-align: right;
}

.avatar-navbar {
  margin-top: 24px !important;
}

.avatar-navbar:hover {
  cursor: pointer;
}
